*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}
a[href=""], a:not([href]) {
  cursor: default;
}
p{
  font-size: 1rem;
  margin-bottom: 1rem;
}
img, svg {
  vertical-align: middle;
}
.toplevel_page_antm-demo-import .wp-menu-image img {
  width: 22px;
  margin-top: -9%;
}
/* -----Control Css-- */
.antm-d-flex{
  display: flex;
} 
.antm-space-between{
justify-content: space-between;
}
.antm-align-center{
  align-items: center;
}
.block-editor-block-inspector .antm-tab-controls .components-toggle-control {
  margin-bottom: 20px;
}
.block-editor-block-inspector .antm-tab-controls .components-toggle-control:last-child{
  margin-bottom: 0px;
}
.antm-tab-controls .components-toggle-control .components-flex {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.antm-tab-controls .components-base-control.components-range-control,
.antm-tab-controls .components-base-control.antm-range{
  margin-top: 0px;
  margin-bottom: 0px;
}
.antm-res-range-control > .components-base-control__field > .components-base-control__label {
  margin-right: 100px;
}
.antm-tab-controls.style .components-button:focus:not(:disabled){
  box-shadow: none;
}
.components-button-group .components-button{
  box-shadow: none;
}
.antm-panel-control .antm-tab-panel .components-panel__body.is-opened, 
.antm-panel-control .antm-tab-panel .components-panel__body .components-panel__body-title:hover {
  background: #f8f5ff;
}
.antm-panel-control .antm-tab-panel .components-panel__body{
  margin-top: 0;
  border-top: 0;
  border-bottom: 1px solid #e4d9ff;
}
.antm-panel-control .antm-tab-panel .components-panel__body-title{
  box-shadow: 0 1px 0 #e4d9ff;
}
.antm-panel-control .antm-tab-panel .components-panel__body-title .components-panel__body-toggle.components-button:focus{
  box-shadow: none;
}
.antm-panel-control .antm-tab-panel .components-panel__body.is-opened>.components-panel__body-title{
  margin-bottom: 15px;
}
.antm-panel-control .antm-tab-panel .components-panel__body-title button.components-button{
  color: #5d6c83 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.antm-panel-control .antm-tab-panel .components-panel__body-title button.components-button i{
  margin-right: 8px !important;
  font-size: 14px !important;
}
.antm-panel-control .antm-tab-panel .antm-pro-notice-body .components-panel__body-title button.components-button{
  color: #5E24EF !important;
}
.antm-panel-control .antm-tab-panel  .antm-icon-picker .components-panel__body-title{
  background: transparent;
}
.antm-panel-control .antm-tab-panel  .antm-icon-picker .components-panel__body{
  border: 1px solid #e0e0e0;
  background: #fff;
}
.antm-panel-control .antm-tab-panel  .antm-icon-picker .remove-item{
  margin: 8px 0 8px 0;
  color: #e12211;
  text-decoration: none;
}
.antm-panel-control .antm-tab-panel  .antm-icon-picker .rfipbtn--default{
  border: 1px solid #e4d9ff;
}
.antm-panel-control .antm-tab-panel  .antm-icon-picker .rfipbtn--default:active, .antm-panel-control .antm-tab-panel  .antm-icon-picker .rfipbtn--default:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.antm-panel-control .antm-tab-panel  .antm-icon-picker .rfipbtn--default .rfipbtn__button{
  border: 0 none transparent;
  border-left: 1px solid #e4d9ff;
  background-color: #f8f5ff;
  color: #424242;
}
.antm-panel-control .antm-tab-panel  .antm-icon-picker .rfipbtn--default .rfipbtn__button:hover{
  background-color: #ffffff;
}
.antm-panel-control .antm-tab-panel  .antm-icon-picker .rfipdropdown--default{
  -webkit-box-shadow: 0 6px 13px rgb(0 0 0 / 8%), 0 10px 20px rgb(0 0 0 / 3%);
  box-shadow: 0 6px 13px rgb(0 0 0 / 8%), 0 10px 20px rgb(0 0 0 / 3%);
  border-radius: 3px;
}
.antm-panel-control .antm-tab-panel .components-range-control__track, 
.box-shadow-controls-wrapper .components-range-control__track, 
.typography-controls-wrapper .components-range-control__track {
  background-color: #5E24EF;
}
.antm-panel-control .antm-tab-panel .components-range-control__track+span>span, 
.box-shadow-controls-wrapper .components-range-control__track+span>span, 
.typography-controls-wrapper .components-range-control__track+span>span {
  background-color: #5E24EF;
}
.antm-panel-control .antm-tab-panel .components-text-control__input, .antm-panel-control .antm-tab-panel .components-textarea-control__input, .antm-panel-control .antm-tab-panel .components-input-control__container .components-input-control__backdrop, 
.box-shadow-controls-wrapper .components-input-control__container .components-input-control__backdrop, 
.typography-controls-wrapper .components-input-control__container .components-input-control__backdrop {
  border: 1px solid #e2e8f0 !important;
}
.antm-panel-control .antm-tab-panel input[type=checkbox]:focus {
  box-shadow: none;
}
.antm-panel-control .antm-tab-panel .components-form-toggle .components-form-toggle__track{
  box-shadow: none;
  border: 1px solid #5E24EF;
}
.antm-panel-control .antm-tab-panel .components-form-toggle .components-form-toggle__thumb{
  background-color: #5E24EF;
  border: 5px solid #5E24EF;
}
.antm-panel-control .antm-tab-panel .components-form-toggle.is-checked .components-form-toggle__track{
  background-color: #5E24EF;
}
.antm-panel-control .antm-tab-panel .components-form-toggle.is-checked .components-form-toggle__thumb {
  background-color: #ffffff;
  border: 5px solid #ffffff;
}
.antm-panel-control .antm-pro-notice{
  padding: 20px 0 10px 0;
  text-align: center;
  color: #000000 !important;
  font-weight: 500 !important;
}
.antm-panel-control .antm-pro-features{
  color: #5d6c83 !important;
  font-weight: 500 !important;
}
.antm-panel-control .antm-pro-notice a{
  color: #5E24EF;
}
.antm-panel-control .antm-pro-features a{
  color: #5E24EF;
  text-decoration: underline;
}
.antm-panel-control .antm-pro-notice a:hover, .antm-panel-control .antm-pro-features a:hover{
  color: #e12211;
}
span.dashicons-external:before{
  color: #1e1e1e;
}
/* Responsive Alignment Control  */
.antm-panel-control .antm-tab-panel .antm-res-choose-controls, .antm-res-choose-controls {
  margin-bottom: 10px;
}
.block-editor-block-inspector .antm-res-choose-control .components-toggle-group-control div {
  justify-content: center;
}
.antm-panel-control .antm-tab-panel .antm-res-choose-toggle-container .components-toggle-group-control:focus-within, .antm-res-choose-toggle-container .components-toggle-group-control:focus-within{
  box-shadow: none;
  border: 1px solid #aab6c9;
}
.antm-panel-control .antm-tab-panel .antm-res-choose-toggle-container .components-toggle-group-control:hover,  .antm-res-choose-toggle-container .components-toggle-group-control:hover{
  border: 1px solid #aab6c9;
}
.antm-panel-control .antm-tab-panel .antm-res-choose-toggle-container .components-toggle-group-control, .antm-res-choose-toggle-container .components-toggle-group-control{
  background-color: #f8f5ff;
  border: 1px solid #aab6c9;
  border-radius: 3px;
}
.antm-panel-control .antm-tab-panel .antm-res-choose-toggle-container .components-toggle-group-control-option-base, .antm-res-choose-toggle-container .components-toggle-group-control-option-base{
  color: #5d6c83;
  font-weight: 500;
}
.antm-panel-control .antm-tab-panel .antm-res-choose-toggle-container .components-toggle-group-control-option-base[aria-checked="true"], .antm-res-choose-toggle-container .components-toggle-group-control-option-base[aria-checked="true"]{
  color: #fff;
}
.antm-panel-control .antm-tab-panel .antm-res-choose-toggle-container div[role="presentation"], .antm-res-choose-toggle-container div[role="presentation"]{
  background-color: #5E24EF;
  border-radius: 3px;
}
.antm-panel-control .antm-tab-panel .antm-tab{
  color: #1A0E37;
}
.antm-panel-control .antm-tab-panel .antm-tab.active-tab{
  background-color: #efe8ff;
  color: #5E24EF;
  border-bottom: 3px solid #5E24EF;
}
.antm-panel-control .antm-tab-panel .antm-tab:hover{
  color: #5E24EF;
}
.antm-panel-control .antm-tab-panel .antm-tab{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 200px;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  height: 40px;
  justify-content: center;
}
.antm-panel-control .antm-tab-panel .antm-button:first-child{
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-radius: 2px 0 0 2px;
}
.antm-panel-control .antm-tab-panel .antm-button:last-child{
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-radius: 0 2px 2px 0;
}
.antm-panel-control .antm-tab-panel .antm-button:hover{
  background-color: #5E24EF;
  border: 1px solid #5E24EF;
  color: #fff;
}
.antm-panel-control .antm-tab-panel .antm-button.tab-active{
  background-color: #5E24EF;
  border: 1px solid #5E24EF;
  color: #fff;
}
.antm-panel-control .antm-tab-panel .antm-button{
  background: #ffffff;
  border: 1px solid #5E24EF;
  color: #5E24EF;
}
.antm-panel-control .antm-tab-panel .antm-button{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 34px;
}
.antm-tab-controls.normal, .antm-tab-controls.hover, .antm-tab-controls.active {
  padding-top: 16px;
}
.antm-tab-controls.contained, .antm-tab-controls.full-width {
  padding-top: 25px;
}
.antm-tab-controls hr{
  border-bottom: 1px solid #e4d9ff;
}
.antm-panel-control .antm-tab-panel .antm-tab:focus{
  box-shadow: unset;
}
.antm-panel-control .antm-tab-panel .antm-tab:not(:first-child){
  border-left: 1px solid #fff;
}
button.antm_image_upload_btn:focus {
  box-shadow: unset !important;
}
button.antm_image_upload_btn {
  background-color: #e5e3e345;
  color: #5E24EF;
  height: 100px;
  width: 100%;
  justify-content: center;
}
.antm-panel-control .antm-tab-panel .image-avatar {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 8px;
  padding: 2px;
  width: 100%;
}
.antm-panel-control .antm-tab-panel .image-avatar .image-remove {
  color: #e12211;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 2px;
  display: flex;
  background: #eae7f3;
  right: 25px;
  margin-top: 7px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.antm-panel-control .antm-tab-panel .antm-icon-picker .image-avatar .image-remove {
  right: 38px;
  margin-top: 4px;
}
.antm-panel-control .antm-tab-panel button.components-button.antm-add-icons{
  margin-top: 10px;
  background: #e0e0e0;
  color: #212121;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: auto;
}
.antm-panel-control .antm-tab-panel .components-base-control.antm-font-family-picker input {
  box-shadow: unset;
}
.antm-panel-control .antmResButton, .antmResButton{
  background-color: transparent;
  color: #5d6c83;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px;
  font-size: 12px;
  height: 18px;
  width: 19px;
  margin: 0 8px 0 0;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.antm-panel-control .antmResButton.active, .antmResButton.active {
  color: #5E24EF;
  background-color: #e2d6fb;
}
.antm-panel-control .antm-tab-panel .antm-unit-control.components-unit-control, .antm-unit-control.components-unit-control{
  align-items: flex-end;
}
.antm-panel-control .antm-tab-panel .antm-unit-control.components-unit-control .components-input-control__container, .antm-unit-control.components-unit-control .components-input-control__container {
  width: 65%;
}
.antm-panel-control .antm-tab-panel .antm-base-control.components-base-control .components-base-control__field, .antm-base-control.components-base-control .components-base-control__field {
  display: flex;
  align-items: center;
}
.antm-panel-control .antm-tab-panel .components-tools-panel.antm-color-style, .components-tools-panel.antm-color-style{
  border: none;
  padding: 0px;
}
.antm-panel-control .antm-tab-panel .components-tools-panel.antm-color-style button.components-button, .components-tools-panel.antm-color-style button.components-button{
  padding: 8px;
  width: 36px;
  height: 36px;
}
.antm-panel-control .antm-tab-panel .antm-color-style .block-editor-tools-panel-color-gradient-settings__item.first, .antm-color-style .block-editor-tools-panel-color-gradient-settings__item.first{
  margin-top: 0;
}
.antm-tab-controls .rfip{
  margin: 0;
}
.antm-tab-controls .rfipdropdown--default.rfipdropdown {
  width: 248px !important;
}
.antm-tab-controls .rfip .rfipdropdown {
  position: relative;
  left: -15px !important;
}
.antm-tab-controls .components-base-control.antm-icon-picker .components-base-control__label{
  display: block;
}
.antm-res-dimension.components-base-control, 
.antm-border-control.components-base-control, 
.antm-res-range-control.components-base-control {
  margin-bottom: 20px !important;
}
.antm-res-dimension-label-n-unit, 
.antm-border-main-label,
.antm-color-controls, 
.antm-shadow-controls, 
.antm-typography-controls, 
.antm-res-range-controls, 
.antm-range-controls, 
.antm-color-type, 
.antm-select-control, 
.antm-res-choose-controls {
  display: flex;
  gap: 8px;
  align-items: center;
}
.antm-control-label .components-base-control__label, .antm-control-label .components-input-control__label, .antm-res-dimension-label, .antm-res-range-label, .antm-res-choose-label, .antm-range-label, .antm-border-label, .antm-shadow-position-label, .antm-color-label, 
.antm-shadow-label, .antm-color-type-label, .antm-select-control-label, .antm-typography-label, .antm-range-label .components-base-control__label, 
.antm-control-label .components-toggle-control__label{
  color: #5d6c83 !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
}
.antm-control-label.heading .components-base-control__label {
  font-weight: 600 !important;
  font-size: 14px !important;
}
.antm-control-label .components-select-control__input{
  font-weight: 400 !important;
}
.antm-dimension-inner {
  display: flex;
  gap: 2px;
  padding-top: 10px;
}
.antm-res-range-inner, .antm-range-inner {
  padding-top: 10px;
}
.antm-dimension-inner .components-base-control .components-base-control__field .components-flex{
  gap: inherit;
}
.antm-dimension-inner .components-base-control .components-base-control__field .components-flex .components-flex-item{
  align-self: center;
  max-width: 100%;
}
.antm-dimension-inner label.components-input-control__label{
  color: #5d6c83;
  text-transform: capitalize !important;
}
.antm-dimension-inner button.components-button{
    background: transparent; 
    color: #5d6c83;
    border-color: rgba(0,0,0,0);
    background: none;
    cursor: pointer;
}
.antm-dimension-inner button.components-button i{
  height: 18px;
}
.antm-units-container{
  margin-left: auto;
}
.antm-units-hide .antm-units-container {
  display: none;
}
.antm-panel-control .antm-units-dropdown .antm-units-button, .antm-units-dropdown .antm-units-button{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 30px;
  font-size: 10px;
  font-weight: 700;
  line-height: 0;
  text-transform: uppercase;
  background: #e2d6fb;
  color: #5E24EF;
}
.antm-units-dropdown button.components-button.antm-units-button:hover{
  background: #e2d6fb;
  color: #5E24EF;
  border: none;
}
.antm-dropdown-unit-items .components-popover__content{
  padding: 0;
  box-shadow: 0 0 7px 0px rgb(0 0 0 / 12%);
  border-radius: 3px;
  border: 1px solid #e2e8f0;
}
.antm-dropdown-unit-items .components-popover__content button.antm-units-menus{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 25px;
  width: 28px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  background: #ffffff;
  color: #5d6c83;
}
.antm-panel-control .antm-tab-panel .antm-dimension-inner button.components-button:hover, .antm-dimension-inner button.components-button:hover, 
.antm-panel-control .antm-tab-panel .antm-dimension-inner button.components-button:hover:not(:disabled), .antm-dimension-inner button.components-button:hover:not(:disabled){
  background: transparent; 
  background: none;
  color: #5d6c83;
  border-color: rgba(0,0,0,0);
}
.antm-panel-control .antm-tab-panel .antm-dimension-inner .components-base-control.components-input-control, .antm-dimension-inner .components-base-control.components-input-control, 
.antm-panel-control .antm-tab-panel .antm-border-main-label .components-base-control,
.antm-panel-control .antm-tab-panel .antm-border-main-label .components-base-control .components-base-control__field, 
.antm-shadow-position .components-base-control,
.antm-shadow-position .components-base-control .components-base-control__field, 
.antm-panel-control .antm-tab-panel .antm-color-type .components-base-control, .antm-color-type .components-base-control, 
.antm-panel-control .antm-tab-panel .antm-color-type .components-base-control .components-base-control__field, .antm-color-type .components-base-control .components-base-control__field, 
.antm-panel-control .antm-tab-panel .antm-select-control .components-base-control, .antm-select-control .components-base-control, 
.antm-panel-control .antm-tab-panel .antm-select-control .components-base-control .components-base-control__field, .antm-select-control .components-base-control .components-base-control__field {
  margin-bottom: 0 !important;
}
.antm-panel-control .antm-tab-panel .antm-border-main-label .components-base-control, 
.antm-shadow-position .components-base-control, 
.antm-panel-control .antm-tab-panel .antm-color-type .components-base-control, .antm-color-type .components-base-control, 
.antm-panel-control .antm-tab-panel .antm-select-control .components-base-control, .antm-select-control .components-base-control {
  width: 120px;
}
.antm-panel-control .antm-tab-panel .antm-border-main-label, 
.antm-panel-control .antm-tab-panel .antm-color-controls, .antm-color-controls,
.antm-panel-control .antm-tab-panel .antm-shadow-controls, .antm-shadow-controls, 
.antm-panel-control .antm-tab-panel .antm-typography-controls, .antm-typography-controls, 
.antm-panel-control .antm-tab-panel .antm-color-type, .antm-color-type, 
.antm-panel-control .antm-tab-panel .antm-select-control, .antm-select-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.antm-shadow-position{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* -----Color Picker Control----- */
.antm-panel-control .antm-tab-panel .control-label-wrapper .button-wrapper, .control-label-wrapper .button-wrapper {
  display: flex;
  align-items: center;
}
.antm-panel-control .button-wrapper .antm-color-toggle, .button-wrapper .antm-color-toggle, 
.antm-panel-control .button-wrapper .antm-edit-toggle, .button-wrapper .antm-edit-toggle{
  display: flex;
  padding: 7px;
  gap: 4px;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
}
.antm-panel-control .antm-tab-panel .components-button.antm-color-toggle.is-secondary:hover:not(:disabled), .components-button.antm-color-toggle.is-secondary:hover:not(:disabled), .components-button.antm-color-toggle.is-secondary:focus:not(:disabled),
.antm-panel-control .antm-tab-panel .components-button.antm-edit-toggle.is-secondary:hover:not(:disabled), .components-button.antm-edit-toggle.is-secondary:hover:not(:disabled){
  box-shadow: none;
}
.button-wrapper .antm-color-toggle span.antm-defined-color{
  width: 19px;
  height: 19px;
  background: repeating-conic-gradient(rgb(153, 153, 153) 0%, rgb(153, 153, 153) 25%, rgb(238, 238, 238) 0%, rgb(238, 238, 238) 50%) center center / 8px 8px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.antm-panel-control .antm-tab-panel .components-button.antm-color-toggle.is-pressed:hover:not(:disabled), .components-button.antm-color-toggle.is-pressed:hover:not(:disabled), 
.antm-panel-control .antm-tab-panel .components-button.antm-edit-toggle.is-pressed:hover:not(:disabled), .components-button.antm-edit-toggle.is-pressed:hover:not(:disabled) {
  background: #fff;
}
.antm-panel-control .antm-tab-panel .button-wrapper span.antm-reset, .button-wrapper span.antm-reset{
  color: #b69df3;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* -----Box Shadow & Typography Control----- */
.box-shadow-controls-wrapper, 
.typography-controls-wrapper {
  width: 300px;
  padding: 12px;
}
.antm-panel-control .antm-tab-panel .button-wrapper .antm-edit-toggle span.antm-open-edit, .button-wrapper .antm-edit-toggle span.antm-open-edit{
  color: #5d6c83;
  height: 20px;
  width: 20px;
}
/* -----Responsive Range Control----- */
.antm-panel-control .antm-tab-panel .antm-reset .components-button.components-range-control__reset, .antm-reset .components-button.components-range-control__reset{
  border: none;
  font-weight: 600;
  color: #5E24EF;
  box-shadow: none;
  background: #e2d6fb;
  margin-left: -2px;
}
.antm-panel-control .antm-tab-panel .antm-reset .components-button.components-range-control__reset.is-secondary:hover:not(:disabled), .antm-reset .components-button.components-range-control__reset.is-secondary:hover:not(:disabled){
  box-shadow: none;
}
/* -----Gradient Control----- */
.antm-panel-control .antm-tab-panel .antm-color-type-controls, .antm-color-type-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.antm-panel-control .antm-tab-panel .antm-color-type-control-tab, .antm-color-type-control-tab {
  display: flex;
  gap: 4px;
}
.antm-panel-control .antm-tab-panel .antm-color-type-control-tab .antm-gradient-tab-button, .antm-color-type-control-tab .antm-gradient-tab-button {
  border: 1px solid #e2e8f0;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 5px;
  height: 26px;
  width: 26px;
  min-width: unset;
}
.antm-panel-control .antm-tab-panel .antm-color-type-control-tab .antm-gradient-tab-button:hover{
  color: #000;
}
.antm-panel-control .antm-tab-panel .antm-color-type-control-tab .antm-gradient-tab-button.is-active{
  color: #5E24EF;
  background-color: #e2d6fb;
  box-shadow: none;
  border-color: #e2d6fb;
}
.antm-panel-control .antm-tab-panel .antm-color-type-control-tab .antm-gradient-tab-button span {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.antm-panel-control .antm-tab-panel .antm-color-types {
  padding-top: 10px;
}
.antm-panel-control .antm-tab-panel label.antm-background-type-label {
  margin-bottom: 8px;
}
/*----- Team Member -----*/
.antm-team-member {
  padding: 20px;
  background-color: #fff;
  transition: 0.5s;
}
.antm-team-member:hover {
  box-shadow: 0px 0px 10px rgba(33, 33, 33, 0.12);
}
.antm-team-member .antm-team-card-image img {
  object-fit: cover;
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
}
.antm-team-member .antm-bottom-content {
  text-align: center;
}
.antm-team-member .heading .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}
.antm-team-member .heading .designation {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.antm-team-member .social-icon {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}
.antm-team-member .social-icon a{
  display: block;
  list-style: none;
  width: 40px;
  height: 40px;
  line-height: 42px; 
  text-align: center;
  margin: 0px 2px;
  transition: 0.5s;
  color: #0036FF; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.antm-member-img {
  max-width: 100%;
  height: auto;
}